<div class="post-container-outer">
    <div class="post-container">
        <h1 class="post-card-title" id="post-card-title" data-id="{{id}}">{{title}}</h1>
        <p class="post-card-data">posted by {{user.name}} on {{format_date date_created}}</p>
        <p class="post-card-body">{{bodyContent}}
        </p>
    </div>
</div>

{{#each comments}}
<div class="comment-container">
    <h2>{{title}}</h2>
    <p>{{bodyContent}}</p>
    <p>commented by user{{user_id}} on {{format_date date_created}}</p>
</div>
{{/each}}

<div class="comment-input-container">
    <form class="comment-box">
        <label for="comment-title">Title:</label>
        <input type="input" id="comment-title-input" name="comment-title"> <br> <br>
        <label for="comment">Comment:</label>
        <input type="input" id="comment-input" name="comment">
        <input type="submit" id="comment-submit">
    </form>
</div>

<script src="/script/post.js"></script>
